body {
  background-color: #FDFDFD;
}

.ui.borderless.grid.topmenu.menu{
  border: none;
  box-shadow: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  background-color: #3171B8 !important;
  color: white !important;
}

.ui.topmenu.item{
  color: white !important;
}

.ui.borderless.centered.grid.middlemenu.menu {
  border: none;
  box-shadow: none;
}

.ui.center.aligned.equal.width.grid.container {
  color: white !important;
  line-height: 20px;
}

.footer {
  background-color: #3171B8 !important;
  margin-top: 10px;
}

.ui.myMelody.container {
  background-color: #EAF7FF !important;
  padding: 10px;
}